body {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
}

.box {
    border: 3px solid black;
    background: greenyellow;
    width: 200px;
    height: 200px;
    /* transition-duration: 1s;
    transition-property: all;
    transition-delay: 0s, 3s; */
    /* transition-timing-function: steps(5); */
    transition: all 1s linear;
}

.box:hover {
    background: blue;
    transform: scale(1.3);
}