* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

#root{
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;

}

.post {
    display: flex;
    padding: 12px;
    border: 2px solid lemonchiffon;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    border-radius: 15px
}

.post__btns{

}